.header {
  position: relative;

  .header-title {
    height: 100%;
    line-height: 50px;
  }

  .header-hamburger {
    width: 1.2rem;
    position: absolute;
    right: 0;
    top: 0;
  }

  .header-hamburger .bar {

  }
}